a{
	color:#f8d311;
}
a:hover{
	color:#1960ab;
}

.footer{
	color:#969696;
}

.disclaimer{
	color:#969696;
}

p{
	color:#fcfcfc;
	font-size:12;
}

.lowerMsg{
	color:#999999;
}
.resources{
	font-size:11;
}
